
  <appSettings>
    <!-- SendGrid -->
    <add key="SendGridKey" value="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" />
    
    <!-- Twilio -->
    <add key="TwilioSid" value="ACd9a75eee0ec2ecd9b63dce3fd01899c6" />
    <add key="TwilioToken" value="20c15f911ee0711905442c8fc0f01e35" />
    <add key="TwilioFromPhone" value="+441158245419" />

    <!-- Microsoft -->
    <add key="MicrosoftClientID" value="d3730afc-d004-45ac-b11a-a5c291ebbfd7" />
    <add key="MicrosoftClientSecret" value="regxxBIQF5498|{xqJXP3?;" />

    <!-- Twitter -->
    <add key="TwitterClientID" value="OfPa2bOOLiC847AzGUDhvmoGe" />
    <add key="TwitterClientSecret" value="sBW6rYQmIS7d6zWU4CUJUVqLcbP3IIe39pP2L7JTNZ2dE808cg" />

    <!-- Facebook -->
    <add key="FacebookClientID" value="307001989959541" />
    <add key="FacebookClientSecret" value="716ea68b670daa9f836f8cd040a8850a" />

    <!-- Google -->
    <add key="GoogleClientID" value="74573038795-p1aabij935cmne6tth5kolkg0td6kh54.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="4Ex1e58d8u5DjWj6K1o32j7H" />
  </appSettings>
 