
  <appSettings>
    <!-- SendGrid-->
    <!--<add key="mailAccount" value="My mail account." />-->
    <!--<add key="mailPassword" value="My mail password." />-->
    <!-- Twilio-->
    <add key="TwilioSid" value="ACd9a75eee0ec2ecd9b63dce3fd01899c6" />
    <add key="TwilioToken" value="20c15f911ee0711905442c8fc0f01e35" />
    <add key="TwilioFromPhone" value="+441158245419" />

    <!--<add key="GoogClientID" value="1.apps.googleusercontent.com" />-->
    <!--<add key="GoogClientSecret" value="My Google client secret." />-->
  </appSettings>
 