@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Currently In Development</h3>

<h4>Started 28/02/2019</h4>

<p class="lead">A Website to demonsare my current skill set with ASP.Net, MVC, SQL, Bootstrap, JavaScript and others.</p>

<p>This project is being created with Visual Studio 2017.</p>
<p>It is a ASP.Net MVC project with Individual user accounts and unit tests built-in on creation of the project.</p>

