@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Derby<br />
    United Kingdom<br />
    <abbr title="Phone">Mobile Num:</abbr>
    07739798328
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lloydfitzroysmith@googlemail.com">lloydfitzroysmith@googlemail.com</a><br />
</address>