@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Demo</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Currently Implemented</h2>
        <p>
            <ol>
                <li>Built-in Login/Registration System</li>
                <li>Roles (Admin) [Authorised]</li>
                <li>Updated to Bootstrap v4.3.x</li>
                <li>Twitter, Facebook, Google and Microsoft Authentication. (Login)</li>
                <li>SMS Two factor Authentication using 'Twilio'</li>
                <li>Email Two factor Authentication using 'SendGrid'</li>
                <li>Enabled SSL Certification</li>
                <li>Sensitive Info (Keys), are included in an external file, not in source.</li>
                <li>Email confirmation is required when registering (SendGrid)</li>
                <li>Password Reset and Recovery (SendGrid)</li>
            </ol>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Planned to be Implemented</h2>
        <p>
            <ol>
                <li>Bootstrap Demo, Object showcase (Buttons, Progress Bars, Tables, etc)</li>
                <li>External SQL Database</li>
                <li>SQL Data Manipulation</li>
                <li>Unit Testing</li>
                <li>Moq Unit Testing (SQL Database Testing without adding data)</li>
                <li>AND MORE (That I haven't yet thought of)</li>
            </ol>
        </p>
    </div>
</div>